In [3]:
import numpy as np
import pandas as pd

np.__version__
pd.__version__

'1.0.3'

In [4]:
pd.Series([1,3,5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)
dates

data_frame = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
data_frame

                   A         B         C         D
2013-01-01  0.228882 -1.116820 -0.643393  0.290934
2013-01-02  0.476874  0.017988 -1.687824  0.030066
2013-01-03  0.487027 -0.075137  0.923510  0.212368
2013-01-04  0.242283  1.188369 -0.042039  0.772762
2013-01-05 -1.945042  0.173690  0.776473 -1.417296
2013-01-06 -0.326530  0.209002  1.902334  1.894088

In [29]:
data_frame2 = pd.DataFrame({'A':1.,
'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'
})

data_frame2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
data_frame2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [34]:
data_frame2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [36]:
data_frame2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [37]:
data_frame2.tail(3)

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [39]:
data_frame.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [40]:
data_frame.columns

Index(['A', 'B', 'C', 'D'], dtype='object')